.app-dialog {
    position: absolute;
    top: 0;
    background-color: #fff;
    margin-block: rem(20px);
    padding: 1rem;
    max-height: 90vh;
    border-radius: 16px;

    .close-dialog-btn {
        font-size: 1rem;
        position: relative;
        left: -8px;
        top: -8px;
    }
}