.person-details {
    direction: rtl;
    height: 100%;
    

    .person-details-header {
        width: 100%;
        min-height: rem(50px);
        border-bottom: 1px solid #ddd;
    }

    .prefs-container {
        width: fit-content;
        border-inline-end: 1px solid #ddd;

        li {
            padding: rem(24px);
        }
    }
}